#AuthType Basic
#AuthName "My Protected Area"
#AuthUserFile /var/www/.htpasswd
#Require valid-user
#SetEnvIf Request_URI "^/image/" allow
#SetEnvIf Request_URI "^/js/" allow
#SetEnvIf Request_URI "^/stylesheet/" allow
#Order allow,deny
#Allow from env=allow
#Satisfy any

RewriteEngine on
RewriteRule \.txt$ - [F,L]
RewriteRule ^agent/(.*)$ /Agent/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/approve\.php$ [NC]
RewriteCond %{REQUEST_URI} ^/declain\.php$ [NC]
RewriteCond %{REQUEST_URI} ^/member\.php$ [NC]
RewriteCond %{REQUEST_URI} ^/paymentcall\.php$ [NC]
RewriteCond %{REQUEST_URI} ^/recurrent\.php$ [NC]
RewriteCond %{REQUEST_URI} ^/secure\.php$ [NC]
RewriteRule ^ - [L]

#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [NC,L,QSA]
