/**************/
/** Custom CSS **/
/**************/

/* General Customize */
html{background-color: #d9e9ef;}
body{position: relative;max-width: 1500px;margin: 0 auto!important;}
.form-control-label {
    padding: .375rem .75rem;
    margin-bottom: 0;
}
footer{
	background-color: #080808;
    padding: 10px;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
footer p{margin: 0;}
.alert{
	padding:10px;
	margin-bottom: 10px;
	text-align: left;
	font-size:12px;
}
.text-element{
    background-color: #f6f6f6;
    padding: 15px;
    margin: 20px auto;
}
.text-element>p{
    margin-bottom: 0;
}

#uploadFile,.uploadFile{height: 30px;}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 4px 3px 3px;
    display: inline-block;
    vertical-align: middle;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* General Customize End */

/* Header */
.hlogo>img{
	margin: 5px auto;
	max-width: 300px;
}
.navbar-form .form-control{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
/* Header End*/

/* Login Page */
.login-form{
	display: block;
    position: relative;
    max-width: 400px;
    margin: 12% auto 25%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 15px;
}
/* Login Page End */

/* Home page not logined */
@media(min-width: 768px){
    .contact-left{
        text-align: right;
        border-right: 1px solid #ccc;
    }
    .contact-left,.contact-right{
        padding:0 30px !important;
    }
}
@media(max-width: 767px){
    .contact-right,.contact-left{text-align: center;}
}
.h-topdiv,.lh-topdiv{
    position: relative;
}

.h-top, .lh-top{
    color:#fff;
    top:0;
    right:0;
    background:rgba(0,0,0,0.2);
    height:100%;
    
}

@media(min-width: 1500px){
    .lh-top{      
        position:absolute;
        width:60%;
        padding:4% 8%;
    } 
}
@media(max-width: 1499px) and (min-width: 1250px){
    .lh-top{      
        position:absolute;
        width:65%;
        padding:2% 4%;
    } 
    .lh-top>h1{font-size: 28px;}
}
@media(max-width: 1249px){
    .lh-top{      
        position:relative;
        width:100%;
        padding:3% 5%;
    } 
    .lh-top>h1{font-size: 24px;}
    .lh-topdiv>img{display: none;}
}
/*
@media(max-width: 1059px) and (min-width: 768px){
    .lh-top{      
        position:absolute;
        width:100%;
        padding:3% 5%;
    } 
}
@media(max-width: 767px){
    .lh-top{      
        width:100%;
        padding:3% 5%;
    } 
}
*/
@media(min-width: 1400px){
    .h-top{
        position:absolute;
        width:50%;
        padding:3% 8%;
    }
    .h-top>p{font-size: 16px;}
}
@media(max-width: 1399px) and (min-width: 1200px){
    .h-top{
        position:absolute;
        width: 50%;
        padding:3% 5%;
    }
    .h-top>p{font-size: 15px;}
}
@media(max-width: 1199px) and (min-width: 1060px){
    .h-top{
        position:absolute;
        width: 65%;
        padding:2% 5%;
    }
    .h-top>h1{font-size:30px}
    .h-top>p{font-size: 15px;}
}
@media(max-width: 1059px) and (min-width: 768px){
    .h-top{
        position: absolute;
        width: 80%;
        padding: 2% 3%;
    }
    .h-top>h1{font-size: 26px;}
    .h-top>p{font-size: 14px;}
}
@media(max-width: 767px) and (min-width: 615px){
    .h-top{
        position:relative;
        width: 100%;
        padding:3% 5%;
    }
    .h-top>h1{font-size: 24px;}
    .h-topdiv>img{display: none;}
}
@media(max-width: 614px){
    .h-top{
        width: 100%;
        padding:3% 5%;
    }
    .h-top>h1{font-size: 24px;}
    .h-topdiv>img{display: none;}
}

.img-title{
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
}

/* Home page not logined End*/

/* Plan Detail Page */
.p-detail .row{
    background-color: #e8f5f9;
    border:1px solid #96c8d8;
}
.p-detail label{margin-top: 5px;}
.p-detail [class*="col-"]{
    border:1px solid #fff;
}
/* End Plan Detail Page */

/* Manage download file page */
.mdfile{float: none !important;}
@media(max-width: 400px){
    .uploadFile{width: 100%;}
}
.df-row:hover{background-color: #eee;}
/* End Manage download file page */

/* Download file page */
.dfile-list a{
    padding:5px 15px 5px 0;
    text-decoration: underline;
}
.dfile-list a:hover{color:#04c;}
.dfile-list .nofile{color:#ccc;}
.dfile-list .d_brochure{color:#16c4cb;}
.dfile-list .d_benefit{color:#16c4cb;}
.dfile-list .d_claimf{color:#16c4cb;}
.dfile-list .d_claimp{color:#16c4cb;}
.dfile-list .d_consent{color:#16c4cb;}
.dfile-list .d_policy{color:#16c4cb;}
/* End download file page */