/**************/
/** Custom CSS **/
/**************/

/* General Customize */
body{position: relative;}
.form-control-label {
    padding: .375rem .75rem;
    margin-bottom: 0;
}
footer{
	background-color: #080808;
    padding: 10px;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
footer p{margin: 0;}
.alert{
	padding:10px;
	margin-bottom: 10px;
	text-align: left;
	font-size:12px;
}
.text-element{
    background-color: #f6f6f6;
    padding: 15px;
    margin: 20px auto;
}
.text-element>p{
    margin-bottom: 0;
}
/* General Customize End */

/* Header */
.hlogo>img{
	margin: 5px auto;
	max-width: 300px;
}
.navbar-form .form-control{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
/* Header End*/

/* Login Page */
.login-form{
	display: block;
    position: relative;
    max-width: 400px;
    margin: 12% auto 25%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 15px;
}
/* Login Page End */

/* Home page not logined */
@media(min-width: 768px){
    .contact-left{
        text-align: right;
        border-right: 1px solid #ccc;
    }
    .contact-left,.contact-right{
        padding:0 30px !important;
    }
}
@media(max-width: 767px){
    .contact-right,.contact-left{text-align: center;}
}
.h-topdiv,.lh-topdiv{
    position: relative;
}

.h-top, .lh-top{
    color:#fff;
    top:0;
    right:0;
    background:rgba(0,0,0,0.2);
    height:100%;
    
}

@media(min-width: 1500px){
    .lh-top{      
        position:absolute;
        width:40%;
        padding:5% 8%;
    } 
}
@media(max-width: 1499px) and (min-width: 1200px){
    .lh-top{      
        position:absolute;
        width:55%;
        padding:3% 5%;
    } 
}
@media(max-width: 1199px) and (min-width: 1060px){
    .lh-top{      
        position:absolute;
        width:65%;
        padding:3% 5%;
    } 
}
@media(max-width: 1059px) and (min-width: 768px){
    .lh-top{      
        position:absolute;
        width:100%;
        padding:3% 5%;
    } 
}
@media(max-width: 767px){
    .lh-top{      
        width:100%;
        padding:3% 5%;
    } 
}

@media(min-width: 1170px){
    .h-top{
        position:absolute;
        width:40%;
        padding:5% 8%;
    }
}
@media(max-width: 1169px) and (min-width: 922px){
    .h-top{
        position:absolute;
        width: 45%;
        padding:3% 5%;
    }
}
@media(max-width: 921px) and (min-width: 768px){
    .h-top{
        position:absolute;
        width: 65%;
        padding:3% 5%;
    }
}
@media(max-width: 767px) and (min-width: 615px){
    .h-top{
        position:absolute;
        width: 100%;
        padding:3% 5%;
    }
}
@media(max-width: 614px){
    .h-top{
        width: 100%;
        padding:3% 5%;
    }
}

.img-title{
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
}

/* Home page not logined End*/
